openapi: 3.0.3
info:
  title: TRIO API
  description: REST API of TRIO
  version: ${version.major}.${version.minor}
  contact:
    name: eHealth Platform Belgium
    email: info@ehealth.fgov.be
security:
  - Oauth2:
      - esAdministrativeTeamMember
      - esWorkDoctor
      - esWorkNurse
      - hioAdministrativeTeamMember
      - hioAdvisingDoctor
      - hioMultidisciplinaryTeamMember
      - hioReturnToWorkCoordinator
x-oauth2-required-scopes: any
servers:
  - url: https://api.ehealth.fgov.be/trio/v1
tags:
  - name: Insured persons
  - name: Encryption keys
  - name: Dossiers
  - name: Dossiers owners
  - name: Trajects
  - name: Attachments
  - name: Conversations
  - name: Actors
  - name: Employers
paths:
  /actors:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
    get:
      tags:
        - Actors
      operationId: listActors
      summary: List all actors
      description: List all actors for a given organization. If `organization.id` parameter is not provided, return the actors
        for the requester's organization.
      parameters:
        - name: embed
          description: Resources to embed in the response.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:items|items(organization))$
        - name: organization.id
          description: actor id of the organization
          in: query
          required: false
          schema:
            type: string
            pattern: ^(cbeNumber|id):(.*)$
        - name: actor.type
          description: actor type to filter
          in: query
          required: false
          schema:
            type: string
            pattern: ^(EsAdministrativeTeamMember|EsWorkNurse|EsWorkDoctor|GeneralPractitioner|HioAdministrativeTeamMember|HioAdvisingDoctor|HioMultidisciplinaryTeamMember|HioReturnToWorkCoordinator)$
        - name: actor.name
          description: Filter on family name and given name
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A collection of actor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorsCollectionWithEmbedded'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /actors/{actorId}:
    parameters:
      - $ref: '#/components/parameters/ActorId'
      - $ref: '#/components/parameters/BelGovTraceId'
    get:
      tags:
        - Actors
      operationId: getActor
      summary: Get an actor
      description: Get an actor by its identifier.
      parameters:
        - name: embed
          description: Resources to embed in the response.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:organization)$
            uniqueItems: true
          examples:
            items:
              description: Embed the actor's organization.
              value:
                - organization
      responses:
        '200':
          description: Actor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyActor'
        default:
          $ref: '#/components/responses/ProblemResponse'
    put:
      tags:
        - Actors
      operationId: updateActor
      summary: update an actor
      description: update an actor in requester organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserForUpdate'
      responses:
        '200':
          description: A conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserForGet'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /actors/{actorId}/assign:
    parameters:
      - $ref: '#/components/parameters/ActorId'
      - $ref: '#/components/parameters/BelGovTraceId'
    post:
      tags:
        - Dossiers owners
      operationId: assignDossiers
      summary: Assign dossiers to an actor
      description: Assign dossiers to an actor.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DossiersCollectionForUpdate'
      responses:
        '200':
          description: success
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /actors/{actorId}/unassign:
    parameters:
      - $ref: '#/components/parameters/ActorId'
      - $ref: '#/components/parameters/BelGovTraceId'
    post:
      tags:
        - Dossiers owners
      operationId: unassignDossiers
      summary: Unassign dossiers from an actor
      description: Unassign dossiers from an actor.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DossiersCollectionForUpdate'
      responses:
        '200':
          description: success
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /attachments:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
    get:
      tags:
        - Attachments
      operationId: searchAttachments
      summary: Search for the attachments of a dossier or a traject
      description: '`dossierId` and `trajectId` are mutually exclusive: using both will return no result.'
      parameters:
        - $ref: '#/components/parameters/DossierIdQuery'
        - $ref: '#/components/parameters/TrajectIdQuery'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:items|items\((?:createdBy|sharedWith|encryptionKey|permissions|updatedBy)\))$
            uniqueItems: true
          examples:
            items:
              description: Embed attachments.
              value:
                - items
            items(createdBy):
              description: Embed the actor that create the attachment.
              value:
                - items(createdBy)
            items(sharedWith):
              description: Embed the list of actors that have access to the attachment.
              value:
                - items(sharedWith)
            items(encryptionKey):
              description: Embed the encryption key to use to encrypt/decrypt sensitive/medical information for all the sub-resources
                of the dossier.
              value:
                - items(encryptionKey)
            items(updatedBy):
              description: Embed the actor that did the last update of the attachment.
              value:
                - items(updatedBy)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentsCollectionWithEmbedded'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags:
        - Attachments
      operationId: createAttachment
      summary: Create a new attachment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyAttachmentForCreation'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyAttachmentForGet'
          headers:
            Location:
              $ref: '#/components/headers/Location'
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /attachments/{attachmentId}:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
      - $ref: '#/components/parameters/AttachmentId'
    get:
      tags:
        - Attachments
      operationId: consultAttachment
      summary: Consult or Download an attachment
      parameters:
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:creator|encryptionKey|sharedWith|sharedWith\(items\)|updatedBy)$
            uniqueItems: true
          examples:
            creator:
              description: Embed the actor that create the attachment.
              value:
                - creator
            encryptionKey:
              description: Embed the encryptionKey.
              value:
                - encryptionKey
            sharedWith:
              description: Embed the list of actors that have access to the attachment.
              value:
                - sharedWith
            sharedWith(items):
              description: Embed the list of actors details that have access to the attachment.
              value:
                - sharedWith(items)
            updatedBy:
              description: Embed the actor that did the last update of the attachment.
              value:
                - updatedBy
      responses:
        '200':
          description: Attachment file (application/octet-stream) or metadata (application/json)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyAttachmentWithEmbedded'
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags:
        - Attachments
      operationId: uploadAttachment
      summary: Upload the attachment file
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: Attachment uploaded
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags:
        - Attachments
      operationId: updateAttachment
      summary: Update an attachment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyAttachmentForUpdate'
      responses:
        '200':
          description: Traject updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyAttachmentForGet'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      tags:
        - Attachments
      operationId: deleteAttachment
      summary: Delete an attachment
      responses:
        '204':
          description: No Content
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /conversations:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
    get:
      tags:
        - Conversations
      operationId: searchConversations
      summary: Search for conversations for a given participant
      parameters:
        - name: participant.id
          description: Participant id to filter on. If not provided, default to current user
          in: query
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/ActorIdRef'
          example: null
        - name: dossier.id
          description: Dossier id to filter on.
          in: query
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/DossierId'
          example: 84031082-8d3c-485a-9bc9-ab895046c768
        - name: traject.id
          description: Traject id to filter on.
          in: query
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/TrajectId'
          example: 84031082-8d3c-485a-9bc9-ab895046c768
        - name: message.id
          description: Conversation message to filter on.
          in: query
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/ConversationMessageId'
          example: 84031082-8d3c-485a-9bc9-ab895046c768
        - name: read
          description: Filter on the participant read status.
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: actionExpected
          description: Filter on the participant actionExpected status.
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: lastMessageAt.from
          description: Filter out any conversations where the lastMessageAt is before this parameter
          in: query
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/Timestamp'
          example: true
        - name: lastMessageAt.to
          description: Filter out any conversations where the lastMessageAt is after this parameter
          in: query
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/Timestamp'
          example: true
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: sort
          description: Sorting properties. Use '-' as prefix to reverse the sorting
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^([\-]{1}?)(?:lastMessageAt)$
            uniqueItems: true
          examples:
            lastMessageAt:
              description: Sort by last message timestamp
              value:
                - lastMessageAt
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:items|items\((?:dossier|encryptionKey|traject|insuredPerson|participants|participants\(items\))\))$
            uniqueItems: true
          examples:
            items:
              description: Embed the conversations.
              value:
                - items
            items(dossier):
              description: Embed the dossiers linked to the conversations.
              value:
                - items(dossier)
            items(encryptionKey):
              description: Embed the encryptionKey.
              value:
                - items(encryptionKey)
            items(traject):
              description: Embed the trajects linked to the conversations.
              value:
                - items(traject)
            items(insuredPerson):
              description: Embed the insuredPerson linked to the conversations.
              value:
                - items(insuredPerson)
            items(participants),items(participants(items)):
              description: Embed the participants of the conversations.
              value:
                - items(insuredPerson)
            items,items(dossier),items(traject):
              description: Embed the conversations and the dossiers or the trajects linked to it.
              value:
                - items
                - items(dossier)
                - items(traject)
      responses:
        '200':
          description: Conversations matching the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationsCollectionWithEmbedded'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags:
        - Conversations
      operationId: createConversation
      summary: Create a new conversation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyConversationForCreation'
      responses:
        '201':
          description: The created conversation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyConversationForGet'
          headers:
            Location:
              $ref: '#/components/headers/Location'
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /conversations/{conversationId}:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
      - $ref: '#/components/parameters/ConversationId'
    get:
      tags:
        - Conversations
      operationId: consultConversation
      summary: Consult a conversation
      parameters:
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:dossier|encryptionKey|traject|insuredPerson|participants|participants\(items\))$
            uniqueItems: true
          examples:
            encryptionKey:
              description: Embed the encryptionKey.
              value:
                - encryptionKey
            dossier:
              description: Embed the dossier linked to the conversation.
              value:
                - dossier
            traject:
              description: Embed the traject linked to the conversation.
              value:
                - traject
            insuredPerson:
              description: Embed the insuredPerson linked to the conversation.
              value:
                - insuredPerson
            participants,participants(items):
              description: Embed the participants of the conversations.
              value:
                - items(insuredPerson)
            dossier,traject:
              description: Embed the dossier or the traject (depending if it is a Conversation or a TrajectConversation) linked
                to the conversation.
              value:
                - dossier
                - traject
      responses:
        '200':
          description: A conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyConversationWithEmbedded'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags:
        - Conversations
      operationId: updateConversation
      summary: update a conversation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyConversationForUpdate'
      responses:
        '200':
          description: Conversation fields to update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyConversationForGet'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /conversations/{conversationId}/messages:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
      - $ref: '#/components/parameters/ConversationId'
    get:
      tags:
        - Conversations
      operationId: consultConversationMessages
      summary: consult all messages inside an existing conversation
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: sort
          description: Sorting properties. Use '-' as prefix to reverse the sorting
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^([\-]{1}?)(?:createdAt)$
            uniqueItems: true
          examples:
            createdAt:
              description: Sort by last message creation timestamp
              value:
                - createdAt
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:items|items\((?:attachments|createdBy|conversation)\))$
            uniqueItems: true
          examples:
            items:
              description: Embed the conversations.
              value:
                - items
            items(attachments):
              description: Embed the attachments linked to the message.
              value:
                - items(dossier)
            items(createdBy):
              description: embed the actor that create the message
              value:
                - items(createdBy)
            items(conversation):
              description: embed the parent conversation
              value:
                - items(conversation)
      responses:
        '200':
          description: A page of conversation messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMessagesCollectionWithEmbedded'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags:
        - Conversations
      operationId: addMessage
      summary: add a new message to an existing conversation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationMessageForCreation'
      responses:
        '201':
          description: A conversation message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMessageForGet'
          headers:
            Location:
              $ref: '#/components/headers/Location'
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /dossierAction:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
    get:
      tags:
        - Dossiers
      operationId: listDossiersActions
      summary: list assigned dossiers actions for actor or organization
      parameters:
        - name: actor.id
          description: Actor for whom we want the assigned dossiers. If not provided, the current requester is implied.
          in: query
          required: false
          schema:
            description: Identifier of the actor. An actor can be identified either byt it's nihii number, cbe number or technical
              identifier
            type: string
            pattern: ^(nihii|cbeNumber|id):(.*)$
            example: nihii:12345678
          example:
            cbeNumber:0123456789:
              description: Dossiers actions for an organization
            id:00000000-0000-0000-0000-100000000001:
              description: Dossiers actions for a user
        - name: by.id
          description: Filter to show only dossiers where the user was the last to take an action.
          in: query
          required: false
          schema:
            description: Identifier of the actor. An actor can be identified either byt it's nihii number, cbe number or technical
              identifier
            type: string
            pattern: ^(nihii|cbeNumber|id):(.*)$
            example: nihii:12345678
          example:
            id:00000000-0000-0000-0000-100000000001:
              description: User identifier
              value: id:00000000-0000-0000-0000-100000000001
        - name: byMyRole.id
          description: Filter to show only dossiers assigned to a user having the same role as the requester.
          in: query
          required: false
          schema:
            description: Identifier of the actor. An actor can be identified either byt it's nihii number, cbe number or technical
              identifier
            type: string
            pattern: ^(nihii|cbeNumber|id):(.*)$
            example: nihii:12345678
          example:
            id:00000000-0000-0000-0000-100000000001:
              description: User identifier
              value: id:00000000-0000-0000-0000-100000000001
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:items|items\((?:dossier|by|byMyRole|employers|employers(items))\))$
            uniqueItems: true
          examples:
            items:
              description: Embed the dossiers actions.
              value:
                - items
            items(dossier):
              description: Embed dossier.
              value:
                - items(dossier)
            items(by):
              description: Embed the by actor.
              value:
                - items(by)
            items(byMyRole):
              description: Embed the byMyRole actor.
              value:
                - items(byMyRole)
            items(employers),items(employers(items)):
              description: Embed the employers of the dossier.
              value:
                - items(employers)
                - items(employers(items))
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: sort
          description: Sorting properties. Use '-' as prefix to reverse the sorting
          in: query
          required: false
          schema: &id001
            type: array
            items:
              type: string
          examples:
            at:
              description: Sort by action date. Default sorting
              value:
                - at
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DossierActionsCollectionWithEmbedded'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /dossiers:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
    get:
      tags:
        - Dossiers
      operationId: searchDossiers
      summary: Search for the dossiers of an insured person
      parameters:
        - $ref: '#/components/parameters/InsuredPersonSsinQuery'
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:items|items\((?:attachments|conversations|trajects)\))$
            uniqueItems: true
          examples:
            items:
              description: Embed the dossiers.
              value:
                - items
            items(attachments):
              description: Embed the summary of the attachments of the dossiers.
              value:
                - items(attachments)
            items(conversations):
              description: Embed the summary of the conversations of the dossiers.
              value:
                - items(conversations)
            items(trajects):
              description: Embed the summary of the trajects of the dossiers.
              value:
                - items(trajects)
            items,items(trajects):
              description: Embed both the dossiers.
              value:
                - items
                - items(trajects)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DossiersCollectionWithEmbedded'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags:
        - Dossiers
      operationId: createDossier
      summary: Create a new dossier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyDossierForCreation'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyDossierForGet'
          description: Created
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
            Location:
              $ref: '#/components/headers/Location'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /dossiers/{dossierId}:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
      - $ref: '#/components/parameters/DossierId'
    get:
      tags:
        - Dossiers
      operationId: consultDossier
      summary: Consult a dossier
      parameters:
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:attachments|encryptionKey|conversations|insuredPerson|trajects|owners|owners\(items\)|owners\(items\(organization\)\)|permissions)$
            uniqueItems: true
          examples:
            attachments:
              description: Embed the attachments of the dossier.
              value:
                - attachments
            encryptionKey:
              description: Embed the encryption key to use to encrypt/decrypt sensitive/medical information for all the sub-resources
                of the dossier.
              value:
                - encryptionKey
            conversations:
              description: Embed the conversations of the dossier for the current user.
              value:
                - conversations
            insuredPerson:
              description: Embed the insuredPerson of the dossier.
              value:
                - conversations
            trajects:
              description: Embed the trajects of the dossier.
              value:
                - trajects
            encryptionKey,trajects:
              description: Embed the encryption key and the trajects summaries.
              value:
                - encryptionKey
                - trajects
            owners:
              description: Embed the collection of actors assigned to this dossier.
              value:
                - owners
            owners(items):
              description: Embed the actors assigned to this dossier.
              value:
                - owners(items(organization))
                - owners(items)
            permissions:
              description: Embed the effective permissions for this dossiers.
              value:
                - permissions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyDossierWithEmbedded'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /dossiers/{dossierId}/history:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
      - $ref: '#/components/parameters/DossierId'
    get:
      tags:
        - Dossiers
      operationId: consultDossierHistory
      summary: Consult all actions done on this dossier
      parameters:
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:items|items\((?:by|by\(organization\))\))$
            uniqueItems: true
          examples:
            items:
              description: Embed the dossiers history items.
              value:
                - items
            items(by):
              description: Embed the actor who did the operation.
              value:
                - items(by)
            items(actor(organization)):
              description: Embed the actor's organization.
              value:
                - items(by(organization))
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: sort
          description: Sorting properties. Use '-' as prefix to reverse the sorting
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^([\-]{1}?)(?:at|by.givenName|by.familyName)$
            example:
              at:
                description: sort by timestamp
                value:
                  - at
              by.givenName:
                description: sort by actor's given name
                value:
                  - by.givenName
              by.familyName:
                description: sort by actor's family name
                value:
                  - by.familyName
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryItemsCollectionWithEmbedded'
              example:
                self: /dossiers/c496fb49-958c-48a3-8a1e-c13df332989a/history?embed=items&sort=-at
                items:
                  - href: urn:TrioDossier:history:69be4965-6bbb-4830-b791-0783cbc3064c
                  - href: urn:TrioDossier:history:fdac389b-3356-402f-a94c-b34f5707ff2e
                  - href: urn:TrioDossier:history:8b9afed7-2970-420b-a120-dfc03ed0ea87
                  - href: urn:TrioMfmTraject:history:51384b3e-e3a1-4c83-8a03-4e8e2a7b6af8
                  - href: urn:TrioDossier:history:40973547-b280-4103-981b-90aa3d4b44a3
                  - href: urn:TrioDossier:history:092c060a-df30-43c9-87a5-885223d111ca
                  - href: urn:TrioRtwHdiTraject:history:6e2c3b0f-7b87-45ae-a7c3-6f1c18f616ba
                  - href: urn:TrioRtwHdiTraject:history:f090ab8a-d4f9-4274-9759-bae69b5bb102
                  - href: urn:TrioDossier:history:503b11f7-c736-49f4-bda2-66be548cb6de
                  - href: urn:TrioDossier:history:c7377211-e527-4337-9009-d9335b67b1eb
                total: 10
                objectType: historyItemsCollection
                page: 1
                pageSize: 10
                first: /dossiers/c496fb49-958c-48a3-8a1e-c13df332989a/history?embed=items&sort=-at&pageSize=10&page=1
                last: /dossiers/c496fb49-958c-48a3-8a1e-c13df332989a/history?embed=items&sort=-at&pageSize=10&page=1
                embedded:
                  urn:TrioDossier:history:69be4965-6bbb-4830-b791-0783cbc3064c:
                    resourceType: TrioDossier
                    operationName:
                      fr: Modification utilisateurs assignés au dossier
                      nl: Wijziging van toegewezen gebruikers aan het dossier
                    at: '2025-04-03T14:05:16.169398+02:00'
                    by:
                      id: id:00000000-0000-0000-0000-300000000001
                      href: /actors/id:00000000-0000-0000-0000-300000000001
                    self: urn:TrioDossier:history:69be4965-6bbb-4830-b791-0783cbc3064c
                    objectType: historyItem
                  urn:TrioDossier:history:fdac389b-3356-402f-a94c-b34f5707ff2e:
                    resourceType: TrioDossier
                    operationName:
                      fr: Conversation lue
                      nl: Conversatie gelezen
                    at: '2025-04-03T11:29:38.237905+02:00'
                    by:
                      id: id:00000000-0000-0000-0000-300000000001
                      href: /actors/id:00000000-0000-0000-0000-300000000001
                    self: urn:TrioDossier:history:fdac389b-3356-402f-a94c-b34f5707ff2e
                    objectType: historyItem
                  urn:TrioDossier:history:8b9afed7-2970-420b-a120-dfc03ed0ea87:
                    resourceType: TrioDossier
                    operationName:
                      fr: Notification envoyée
                      nl: Notificatie verstuurd
                    at: '2025-04-03T11:29:22.77807+02:00'
                    by:
                      id: id:2fb65f90-8bb8-46ab-8d13-74b29f5ab52c
                      href: /actors/id:2fb65f90-8bb8-46ab-8d13-74b29f5ab52c
                    self: urn:TrioDossier:history:8b9afed7-2970-420b-a120-dfc03ed0ea87
                    objectType: historyItem
                  urn:TrioMfmTraject:history:51384b3e-e3a1-4c83-8a03-4e8e2a7b6af8:
                    resourceType: TrioMfmTraject
                    operationName:
                      fr: Trajet créé
                      nl: Traject aangemaakt
                    at: '2025-04-03T11:10:45.010178+02:00'
                    by:
                      id: id:2fb65f90-8bb8-46ab-8d13-74b29f5ab52c
                      href: /actors/id:2fb65f90-8bb8-46ab-8d13-74b29f5ab52c
                    self: urn:TrioMfmTraject:history:51384b3e-e3a1-4c83-8a03-4e8e2a7b6af8
                    objectType: historyItem
                  urn:TrioDossier:history:40973547-b280-4103-981b-90aa3d4b44a3:
                    resourceType: TrioDossier
                    operationName:
                      fr: Notification envoyée
                      nl: Notificatie verstuurd
                    at: '2025-04-03T11:10:11.011193+02:00'
                    by:
                      id: id:2fb65f90-8bb8-46ab-8d13-74b29f5ab52c
                      href: /actors/id:2fb65f90-8bb8-46ab-8d13-74b29f5ab52c
                    self: urn:TrioDossier:history:40973547-b280-4103-981b-90aa3d4b44a3
                    objectType: historyItem
                  urn:TrioDossier:history:092c060a-df30-43c9-87a5-885223d111ca:
                    resourceType: TrioDossier
                    operationName:
                      fr: Conversation lue
                      nl: Conversatie gelezen
                    at: '2025-04-03T11:10:06.28285+02:00'
                    by:
                      id: id:2fb65f90-8bb8-46ab-8d13-74b29f5ab52c
                      href: /actors/id:2fb65f90-8bb8-46ab-8d13-74b29f5ab52c
                    self: urn:TrioDossier:history:092c060a-df30-43c9-87a5-885223d111ca
                    objectType: historyItem
                  urn:TrioRtwHdiTraject:history:6e2c3b0f-7b87-45ae-a7c3-6f1c18f616ba:
                    resourceType: TrioRtwHdiTraject
                    operationName:
                      fr: Trajet mis-à-jour
                      nl: Traject bijgewerkt
                    at: '2025-04-03T11:09:35.064903+02:00'
                    by:
                      id: id:00000000-0000-0000-0000-300000000001
                      href: /actors/id:00000000-0000-0000-0000-300000000001
                    self: urn:TrioRtwHdiTraject:history:6e2c3b0f-7b87-45ae-a7c3-6f1c18f616ba
                    objectType: historyItem
                  urn:TrioRtwHdiTraject:history:f090ab8a-d4f9-4274-9759-bae69b5bb102:
                    resourceType: TrioRtwHdiTraject
                    operationName:
                      fr: Trajet créé
                      nl: Traject aangemaakt
                    at: '2025-04-03T11:08:31.465455+02:00'
                    by:
                      id: id:00000000-0000-0000-0000-300000000001
                      href: /actors/id:00000000-0000-0000-0000-300000000001
                    self: urn:TrioRtwHdiTraject:history:f090ab8a-d4f9-4274-9759-bae69b5bb102
                    objectType: historyItem
                  urn:TrioDossier:history:503b11f7-c736-49f4-bda2-66be548cb6de:
                    resourceType: TrioDossier
                    operationName:
                      fr: Notification envoyée
                      nl: Notificatie verstuurd
                    at: '2025-04-03T11:08:00.731667+02:00'
                    by:
                      id: id:00000000-0000-0000-0000-300000000001
                      href: /actors/id:00000000-0000-0000-0000-300000000001
                    self: urn:TrioDossier:history:503b11f7-c736-49f4-bda2-66be548cb6de
                    objectType: historyItem
                  urn:TrioDossier:history:c7377211-e527-4337-9009-d9335b67b1eb:
                    resourceType: TrioDossier
                    operationName:
                      fr: Dossier créé
                      nl: Dossier aangemaakt
                    at: '2025-04-01T11:41:27.466559+02:00'
                    by:
                      id: id:00000000-0000-0000-0000-300000000001
                      href: /actors/id:00000000-0000-0000-0000-300000000001
                    self: urn:TrioDossier:history:c7377211-e527-4337-9009-d9335b67b1eb
                    objectType: historyItem
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /dossiers/{dossierId}/owners:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
      - $ref: '#/components/parameters/DossierId'
    get:
      tags:
        - Dossiers owners
      operationId: consultDossierOwners
      summary: Consult all owners for a given dossier
      parameters:
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:items|items\((?:actor|actor\(organization\)|dossier|dossier\(insuredPerson\)|employers|employers\(items\)|organization)\))$
            uniqueItems: true
          examples:
            items:
              description: Embed the dossiers owners.
              value:
                - items
            items(actor):
              description: Embed the owner of the dossiers.
              value:
                - items(actor)
            items(actor(organization)):
              description: Embed the owner's organization of the dossiers.
              value:
                - items(actor(organization)
            items(dossier):
              description: Embed the dossiers.
              value:
                - items(dossier)
            items(dossier(insuredPerson)):
              description: Embed the insured person linked to the dossier.
              value:
                - items(dossier(insuredPerson))
            items(employers):
              description: Embed the employers collection linked to the trajects.
              value:
                - items(employer)
            items(employers(items)):
              description: Embed the employers details linked to the trajects.
              value:
                - items(employers(items))
            items(organization):
              description: Embed the owner's organization.
              value:
                - items(organization)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DossierOwnersCollectionWithEmbedded'
              example:
                self: /dossiers/53160966-4992-4a57-9408-4e162cb057ba/owners?embed=items&embed=items%2528actor%2529&embed=items%2528actor%2528organization%2529%2529
                items:
                  - href: uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioAdvisingDoctor:cbeNumber:0123456789
                  - href: uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioAdministrativeTeamMember:cbeNumber:0123456789
                  - href: uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioMultidisciplinaryTeamMember:cbeNumber:0123456789
                  - href: uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioReturnToWorkCoordinator:cbeNumber:0123456789
                total: 4
                objectType: DossierOwnersCollection
                embedded:
                  uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioAdvisingDoctor:cbeNumber:0123456789:
                    actorType: HioAdvisingDoctor
                    allowedUpdate: true
                    actor:
                      id: id:00000000-0000-0000-0000-300000000001
                      href: /actors/id:00000000-0000-0000-0000-300000000001
                    organization:
                      id: cbeNumber:0123456789
                      href: /actors/cbeNumber:0123456789
                    dossier:
                      id: 53160966-4992-4a57-9408-4e162cb057ba
                      href: /dossiers/53160966-4992-4a57-9408-4e162cb057ba
                    self: uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioAdvisingDoctor:cbeNumber:0411702543
                    objectType: DossierOwner
                  uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioAdministrativeTeamMember:cbeNumber:0123456789:
                    actorType: HioAdministrativeTeamMember
                    allowedUpdate: true
                    actor: null
                    organization:
                      id: cbeNumber:0123456789
                      href: /actors/cbeNumber:0123456789
                    dossier:
                      id: 53160966-4992-4a57-9408-4e162cb057ba
                      href: /dossiers/53160966-4992-4a57-9408-4e162cb057ba
                    self: uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioAdministrativeTeamMember
                    objectType: DossierOwner
                  uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioMultidisciplinaryTeamMember:cbeNumber:0123456789:
                    actorType: HioMultidisciplinaryTeamMember
                    allowedUpdate: true
                    actor: null
                    organization:
                      id: cbeNumber:0123456789
                      href: /actors/cbeNumber:0123456789
                    dossier:
                      id: 53160966-4992-4a57-9408-4e162cb057ba
                      href: /dossiers/53160966-4992-4a57-9408-4e162cb057ba
                    self: uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioMultidisciplinaryTeamMember
                    objectType: DossierOwner
                  uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioReturnToWorkCoordinator:cbeNumber:0123456789:
                    actorType: HioReturnToWorkCoordinator
                    allowedUpdate: true
                    actor: null
                    organization:
                      id: cbeNumber:0123456789
                      href: /actors/cbeNumber:0123456789
                    dossier:
                      id: 53160966-4992-4a57-9408-4e162cb057ba
                      href: /dossiers/53160966-4992-4a57-9408-4e162cb057ba
                    self: uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioReturnToWorkCoordinator
                    objectType: DossierOwner
                  /actors/id:00000000-0000-0000-0000-300000000001:
                    objectType: HioAdvisingDoctor
                    id: id:00000000-0000-0000-0000-300000000001
                    hidden: false
                    givenName: Advising
                    familyName: Doctor 1
                    organization:
                      id: cbeNumber:0411702543
                      href: /actors/cbeNumber:0411702543
                    self: /actors/id:00000000-0000-0000-0000-300000000001
                  /actors/cbeNumber:0123456789:
                    objectType: HealthInsuranceOrganization
                    id: cbeNumber:0123456789
                    hidden: false
                    name: La Meilleure Mutuelle
                    nameI18n:
                      fr: La Meilleure Mutuelle
                      nl: De Beste Landsbond
                    self: /actors/cbeNumber:0123456789
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /dossiersOwners:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
    get:
      tags:
        - Dossiers owners
      operationId: listDossierOwners
      summary: List actors type with owners for all dossiers available for requester organization
      parameters:
        - name: actor.id
          description: filter on an actor instead of requester's organization
          in: query
          required: false
          schema:
            description: Identifier of the actor. An actor can be identified either byt it's nihii number, cbe number or technical
              identifier
            type: string
            pattern: ^(nihii|cbeNumber|id):(.*)$
            example: nihii:12345678
        - name: actor.hidden
          description: If provided, filter assignations on actor's hidden status
          in: query
          required: false
          schema:
            type: boolean
        - $ref: '#/components/parameters/InsuredPersonSsinQuery'
        - name: employer.cbeNumber
          description: filer an an insured person employer
          in: query
          required: false
          schema:
            type: string
        - name: showOnlyPartiallyAssigned
          description: only include dossiers that have a have some roles not assigned
          in: query
          required: false
          schema:
            type: boolean
        - name: showOnlyUnAssigned
          description: only include dossiers where no actors has been assigned
          in: query
          required: false
          schema:
            type: boolean
        - name: showOnlyAssignedToHiddenActors
          description: only include dossiers assigned to a hidden actor
          in: query
          required: false
          schema:
            type: boolean
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: sort
          description: Sorting properties. Use '-' as prefix to reverse the sorting
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^([\-]{1}?)(?:actorType|dossier.id|employer.name|actor.givenName|actor.familyName)$
            uniqueItems: true
          examples:
            actorType:
              description: sort by actor type
              value:
                - actorType
            dossier.id:
              description: sort by dossier id
              value:
                - dossier.id
            employer.name:
              description: sort by employer name
              value:
                - employer.name
            actor.givenName,actor.familyName:
              description: sort by employer name
              value:
                - actor.givenName
                - actor.familyName
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:items|items\((?:actor|actor(organization)|dossier|dossier(insuredPerson)|employers|employers(items))\))$
            uniqueItems: true
          examples:
            items:
              description: Embed the dossiers owners.
              value:
                - items
            items(actor):
              description: Embed the owner of the dossiers.
              value:
                - items(actor)
            items(actor(organization)):
              description: Embed the owner's organization of the dossiers.
              value:
                - items(actor)
            items(dossier):
              description: Embed the dossiers.
              value:
                - items(dossier)
            items(dossier(insuredPerson)):
              description: Embed the insured person linked to the dossier.
              value:
                - items(encryptionKey)
            items(employers):
              description: Embed the employers linked to the trajects.
              value:
                - items(employer)
            items(employers(items)):
              description: Embed the employers details linked to the trajects.
              value:
                - items(employers(items)
      responses:
        '200':
          description: list of dossiers with owners matching the criterias.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DossierOwnersCollectionWithEmbedded'
              example:
                self: /dossiersOwners?embed=items&embed=items%2528dossier%2529&embed=items%2528dossier%2528insuredPerson%2529%2529&embed=items%2528dossier%2528insuredPerson%2529%2529&embed=items%2528actor%2529&embed=items%2528employers%2529&embed=items%2528employers%2528items%2529%2529
                items:
                  - href: uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioAdministrativeTeamMember
                  - href: uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioAdvisingDoctor
                  - href: uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioMultidisciplinaryTeamMember
                  - href: uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioReturnToWorkCoordinator
                total: 4
                objectType: DossierOwnersCollection
                page: 1
                pageSize: 10
                first: /dossiersOwners?embed=items&embed=items%28dossier%29&embed=items%28dossier%28insuredPerson%29%29&embed=items%28dossier%28insuredPerson%29%29&embed=items%28actor%29&embed=items%28employers%29&embed=items%28employers%28items%29%29&pageSize=10&page=1
                last: /dossiersOwners?embed=items&embed=items%28dossier%29&embed=items%28dossier%28insuredPerson%29%29&embed=items%28dossier%28insuredPerson%29%29&embed=items%28actor%29&embed=items%28employers%29&embed=items%28employers%28items%29%29&pageSize=10&page=1
                embedded:
                  uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioAdministrativeTeamMember:
                    actorType: HioAdministrativeTeamMember
                    allowedUpdate: true
                    actor: null
                    dossier:
                      id: 53160966-4992-4a57-9408-4e162cb057ba
                      href: /dossiers/53160966-4992-4a57-9408-4e162cb057ba
                    employers:
                      href: /employers&insuredPerson.ssin=BAHOWtmyrKt8x1xhiRH_Nqms6TYAYESL4nn9DA873lKJVYPE-ehjMYFvGEamKrSU0mrRhQW6n5Lzo4AMb5BSXt9rGAC5Md6ciHwKVtzTvzNCntITSIW6qVFOUPZZvPeeLrMKOehnE9U8_d4alPCO25fQt20xI3-Nk--SVxxE18UvbT6G2Q:eyJhdWQiOiJ0cmlvX3YxIiwiZW5jIjoiQTI1NkdDTSIsImV4cCI6MTc0MzQxNDU2NiwiaWF0IjoxNzQzNDEzOTY2LCJhbGciOiJkaXIiLCJraWQiOiI0OTc3MjllMi0zNjQ4LTQyNDctYWMwOS1mZGZkNjcxYWNmNjYifQ..lrQe-44jXGlHEX3J.rrzMtCCNCFwnjUgOpWNv8aUAKlgCokycSK5eoBa4vd63rasMZEkSkMF86kcyNuIlpuqTqpNbZ0M61CnYaJOC078QxUy02ZhIjda0YAmubqffd7OjmesvpD-ynO4VZ_CrKNSZ_X81aXoZCVP471Mr70YwQizIXSqaGSeOqvqBJCK-HU1-nUhw.WvKn220CImcFUZ4pV6lwCQ
                    self: uri:dossierOwners:53160966-4992-4a57-9408-4e162cb057ba:HioAdministrativeTeamMember
                    objectType: DossierOwner
                  uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioAdvisingDoctor:
                    actorType: HioAdvisingDoctor
                    allowedUpdate: true
                    actor:
                      id: id:00000000-0000-0000-0000-300000000001
                      href: /actors/id:00000000-0000-0000-0000-300000000001
                    dossier:
                      id: 53160966-4992-4a57-9408-4e162cb057ba
                      href: /dossiers/53160966-4992-4a57-9408-4e162cb057ba
                    employers:
                      href: /employers&insuredPerson.ssin=BAHOWtmyrKt8x1xhiRH_Nqms6TYAYESL4nn9DA873lKJVYPE-ehjMYFvGEamKrSU0mrRhQW6n5Lzo4AMb5BSXt9rGAC5Md6ciHwKVtzTvzNCntITSIW6qVFOUPZZvPeeLrMKOehnE9U8_d4alPCO25fQt20xI3-Nk--SVxxE18UvbT6G2Q:eyJhdWQiOiJ0cmlvX3YxIiwiZW5jIjoiQTI1NkdDTSIsImV4cCI6MTc0MzQxNDU2NiwiaWF0IjoxNzQzNDEzOTY2LCJhbGciOiJkaXIiLCJraWQiOiI0OTc3MjllMi0zNjQ4LTQyNDctYWMwOS1mZGZkNjcxYWNmNjYifQ..lrQe-44jXGlHEX3J.rrzMtCCNCFwnjUgOpWNv8aUAKlgCokycSK5eoBa4vd63rasMZEkSkMF86kcyNuIlpuqTqpNbZ0M61CnYaJOC078QxUy02ZhIjda0YAmubqffd7OjmesvpD-ynO4VZ_CrKNSZ_X81aXoZCVP471Mr70YwQizIXSqaGSeOqvqBJCK-HU1-nUhw.WvKn220CImcFUZ4pV6lwCQ
                    self: uri:dossierOwners:53160966-4992-4a57-9408-4e162cb057ba:HioAdvisingDoctor
                    objectType: DossierOwner
                  uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioMultidisciplinaryTeamMember:
                    actorType: HioMultidisciplinaryTeamMember
                    allowedUpdate: true
                    actor: null
                    dossier:
                      id: 53160966-4992-4a57-9408-4e162cb057ba
                      href: /dossiers/53160966-4992-4a57-9408-4e162cb057ba
                    employers:
                      href: /employers&insuredPerson.ssin=BAHOWtmyrKt8x1xhiRH_Nqms6TYAYESL4nn9DA873lKJVYPE-ehjMYFvGEamKrSU0mrRhQW6n5Lzo4AMb5BSXt9rGAC5Md6ciHwKVtzTvzNCntITSIW6qVFOUPZZvPeeLrMKOehnE9U8_d4alPCO25fQt20xI3-Nk--SVxxE18UvbT6G2Q:eyJhdWQiOiJ0cmlvX3YxIiwiZW5jIjoiQTI1NkdDTSIsImV4cCI6MTc0MzQxNDU2NiwiaWF0IjoxNzQzNDEzOTY2LCJhbGciOiJkaXIiLCJraWQiOiI0OTc3MjllMi0zNjQ4LTQyNDctYWMwOS1mZGZkNjcxYWNmNjYifQ..lrQe-44jXGlHEX3J.rrzMtCCNCFwnjUgOpWNv8aUAKlgCokycSK5eoBa4vd63rasMZEkSkMF86kcyNuIlpuqTqpNbZ0M61CnYaJOC078QxUy02ZhIjda0YAmubqffd7OjmesvpD-ynO4VZ_CrKNSZ_X81aXoZCVP471Mr70YwQizIXSqaGSeOqvqBJCK-HU1-nUhw.WvKn220CImcFUZ4pV6lwCQ
                    self: uri:dossierOwners:53160966-4992-4a57-9408-4e162cb057ba:HioMultidisciplinaryTeamMember
                    objectType: DossierOwner
                  uri:dossierOwner:53160966-4992-4a57-9408-4e162cb057ba:HioReturnToWorkCoordinator:
                    actorType: HioReturnToWorkCoordinator
                    allowedUpdate: true
                    actor: null
                    dossier:
                      id: 53160966-4992-4a57-9408-4e162cb057ba
                      href: /dossiers/53160966-4992-4a57-9408-4e162cb057ba
                    employers:
                      href: /employers&insuredPerson.ssin=BAHOWtmyrKt8x1xhiRH_Nqms6TYAYESL4nn9DA873lKJVYPE-ehjMYFvGEamKrSU0mrRhQW6n5Lzo4AMb5BSXt9rGAC5Md6ciHwKVtzTvzNCntITSIW6qVFOUPZZvPeeLrMKOehnE9U8_d4alPCO25fQt20xI3-Nk--SVxxE18UvbT6G2Q:eyJhdWQiOiJ0cmlvX3YxIiwiZW5jIjoiQTI1NkdDTSIsImV4cCI6MTc0MzQxNDU2NiwiaWF0IjoxNzQzNDEzOTY2LCJhbGciOiJkaXIiLCJraWQiOiI0OTc3MjllMi0zNjQ4LTQyNDctYWMwOS1mZGZkNjcxYWNmNjYifQ..lrQe-44jXGlHEX3J.rrzMtCCNCFwnjUgOpWNv8aUAKlgCokycSK5eoBa4vd63rasMZEkSkMF86kcyNuIlpuqTqpNbZ0M61CnYaJOC078QxUy02ZhIjda0YAmubqffd7OjmesvpD-ynO4VZ_CrKNSZ_X81aXoZCVP471Mr70YwQizIXSqaGSeOqvqBJCK-HU1-nUhw.WvKn220CImcFUZ4pV6lwCQ
                    self: uri:dossierOwners:53160966-4992-4a57-9408-4e162cb057ba:HioReturnToWorkCoordinator
                    objectType: DossierOwner
                  /employers/0406798006:
                    enterpriseNumber: '0406798006'
                    name: smals
                    nameI18n:
                      fr: smals
                      nl: smals
                    self: /employers/0406798006
                    objectType: Employer
                  ? /employers&insuredPerson.ssin=BAHOWtmyrKt8x1xhiRH_Nqms6TYAYESL4nn9DA873lKJVYPE-ehjMYFvGEamKrSU0mrRhQW6n5Lzo4AMb5BSXt9rGAC5Md6ciHwKVtzTvzNCntITSIW6qVFOUPZZvPeeLrMKOehnE9U8_d4alPCO25fQt20xI3-Nk--SVxxE18UvbT6G2Q:eyJhdWQiOiJ0cmlvX3YxIiwiZW5jIjoiQTI1NkdDTSIsImV4cCI6MTc0MzQxNDU2NiwiaWF0IjoxNzQzNDEzOTY2LCJhbGciOiJkaXIiLCJraWQiOiI0OTc3MjllMi0zNjQ4LTQyNDctYWMwOS1mZGZkNjcxYWNmNjYifQ..lrQe-44jXGlHEX3J.rrzMtCCNCFwnjUgOpWNv8aUAKlgCokycSK5eoBa4vd63rasMZEkSkMF86kcyNuIlpuqTqpNbZ0M61CnYaJOC078QxUy02ZhIjda0YAmubqffd7OjmesvpD-ynO4VZ_CrKNSZ_X81aXoZCVP471Mr70YwQizIXSqaGSeOqvqBJCK-HU1-nUhw.WvKn220CImcFUZ4pV6lwCQ
                  : self: /employers&insuredPerson.ssin=BAHOWtmyrKt8x1xhiRH_Nqms6TYAYESL4nn9DA873lKJVYPE-ehjMYFvGEamKrSU0mrRhQW6n5Lzo4AMb5BSXt9rGAC5Md6ciHwKVtzTvzNCntITSIW6qVFOUPZZvPeeLrMKOehnE9U8_d4alPCO25fQt20xI3-Nk--SVxxE18UvbT6G2Q:eyJhdWQiOiJ0cmlvX3YxIiwiZW5jIjoiQTI1NkdDTSIsImV4cCI6MTc0MzQxNDU2NiwiaWF0IjoxNzQzNDEzOTY2LCJhbGciOiJkaXIiLCJraWQiOiI0OTc3MjllMi0zNjQ4LTQyNDctYWMwOS1mZGZkNjcxYWNmNjYifQ..lrQe-44jXGlHEX3J.rrzMtCCNCFwnjUgOpWNv8aUAKlgCokycSK5eoBa4vd63rasMZEkSkMF86kcyNuIlpuqTqpNbZ0M61CnYaJOC078QxUy02ZhIjda0YAmubqffd7OjmesvpD-ynO4VZ_CrKNSZ_X81aXoZCVP471Mr70YwQizIXSqaGSeOqvqBJCK-HU1-nUhw.WvKn220CImcFUZ4pV6lwCQ
                    items:
                      - enterpriseNumber: '0406798006'
                        href: /employers/0406798006
                    total: 1
                    objectType: EmployersCollection
                  /dossiers/53160966-4992-4a57-9408-4e162cb057ba:
                    objectType: TrioDossier
                    id: 53160966-4992-4a57-9408-4e162cb057ba
                    insuredPerson:
                      ssin: BAHOWtmyrKt8x1xhiRH_Nqms6TYAYESL4nn9DA873lKJVYPE-ehjMYFvGEamKrSU0mrRhQW6n5Lzo4AMb5BSXt9rGAC5Md6ciHwKVtzTvzNCntITSIW6qVFOUPZZvPeeLrMKOehnE9U8_d4alPCO25fQt20xI3-Nk--SVxxE18UvbT6G2Q:eyJhdWQiOiJ0cmlvX3YxIiwiZW5jIjoiQTI1NkdDTSIsImV4cCI6MTc0MzQxNDU2NiwiaWF0IjoxNzQzNDEzOTY2LCJhbGciOiJkaXIiLCJraWQiOiI0OTc3MjllMi0zNjQ4LTQyNDctYWMwOS1mZGZkNjcxYWNmNjYifQ..lrQe-44jXGlHEX3J.rrzMtCCNCFwnjUgOpWNv8aUAKlgCokycSK5eoBa4vd63rasMZEkSkMF86kcyNuIlpuqTqpNbZ0M61CnYaJOC078QxUy02ZhIjda0YAmubqffd7OjmesvpD-ynO4VZ_CrKNSZ_X81aXoZCVP471Mr70YwQizIXSqaGSeOqvqBJCK-HU1-nUhw.WvKn220CImcFUZ4pV6lwCQ
                      href: /insuredPersons/BAHOWtmyrKt8x1xhiRH_Nqms6TYAYESL4nn9DA873lKJVYPE-ehjMYFvGEamKrSU0mrRhQW6n5Lzo4AMb5BSXt9rGAC5Md6ciHwKVtzTvzNCntITSIW6qVFOUPZZvPeeLrMKOehnE9U8_d4alPCO25fQt20xI3-Nk--SVxxE18UvbT6G2Q:eyJhdWQiOiJ0cmlvX3YxIiwiZW5jIjoiQTI1NkdDTSIsImV4cCI6MTc0MzQxNDU2NiwiaWF0IjoxNzQzNDEzOTY2LCJhbGciOiJkaXIiLCJraWQiOiI0OTc3MjllMi0zNjQ4LTQyNDctYWMwOS1mZGZkNjcxYWNmNjYifQ..lrQe-44jXGlHEX3J.rrzMtCCNCFwnjUgOpWNv8aUAKlgCokycSK5eoBa4vd63rasMZEkSkMF86kcyNuIlpuqTqpNbZ0M61CnYaJOC078QxUy02ZhIjda0YAmubqffd7OjmesvpD-ynO4VZ_CrKNSZ_X81aXoZCVP471Mr70YwQizIXSqaGSeOqvqBJCK-HU1-nUhw.WvKn220CImcFUZ4pV6lwCQ
                    encryptionKey:
                      id: 1be25520-4bfc-446d-9801-7d73f8b57aa7
                      href: /encryptionKeys/1be25520-4bfc-446d-9801-7d73f8b57aa7
                    trajects:
                      href: /trajects?dossierId=53160966-4992-4a57-9408-4e162cb057ba
                    attachments:
                      href: /attachments?dossierId=53160966-4992-4a57-9408-4e162cb057ba
                    conversations:
                      href: /conversations?dossierId=53160966-4992-4a57-9408-4e162cb057ba
                    owners:
                      href: /dossier/53160966-4992-4a57-9408-4e162cb057ba/owners
                    createdAt: '2025-03-24T15:30:40.840748+01:00'
                    createdBy:
                      id: id:00000000-0000-0000-0000-300000000001
                      href: /actors/id:00000000-0000-0000-0000-300000000001
                    permissions:
                      href: urn:dossier:53160966-4992-4a57-9408-4e162cb057ba:permissions
                    self: /dossiers/53160966-4992-4a57-9408-4e162cb057ba
                  ? /insuredPersons/BAHOWtmyrKt8x1xhiRH_Nqms6TYAYESL4nn9DA873lKJVYPE-ehjMYFvGEamKrSU0mrRhQW6n5Lzo4AMb5BSXt9rGAC5Md6ciHwKVtzTvzNCntITSIW6qVFOUPZZvPeeLrMKOehnE9U8_d4alPCO25fQt20xI3-Nk--SVxxE18UvbT6G2Q:eyJhdWQiOiJ0cmlvX3YxIiwiZW5jIjoiQTI1NkdDTSIsImV4cCI6MTc0MzQxNDU2NiwiaWF0IjoxNzQzNDEzOTY2LCJhbGciOiJkaXIiLCJraWQiOiI0OTc3MjllMi0zNjQ4LTQyNDctYWMwOS1mZGZkNjcxYWNmNjYifQ..lrQe-44jXGlHEX3J.rrzMtCCNCFwnjUgOpWNv8aUAKlgCokycSK5eoBa4vd63rasMZEkSkMF86kcyNuIlpuqTqpNbZ0M61CnYaJOC078QxUy02ZhIjda0YAmubqffd7OjmesvpD-ynO4VZ_CrKNSZ_X81aXoZCVP471Mr70YwQizIXSqaGSeOqvqBJCK-HU1-nUhw.WvKn220CImcFUZ4pV6lwCQ
                  : ssin: BAHOWtmyrKt8x1xhiRH_Nqms6TYAYESL4nn9DA873lKJVYPE-ehjMYFvGEamKrSU0mrRhQW6n5Lzo4AMb5BSXt9rGAC5Md6ciHwKVtzTvzNCntITSIW6qVFOUPZZvPeeLrMKOehnE9U8_d4alPCO25fQt20xI3-Nk--SVxxE18UvbT6G2Q:eyJhdWQiOiJ0cmlvX3YxIiwiZW5jIjoiQTI1NkdDTSIsImV4cCI6MTc0MzQxNDU2NiwiaWF0IjoxNzQzNDEzOTY2LCJhbGciOiJkaXIiLCJraWQiOiI0OTc3MjllMi0zNjQ4LTQyNDctYWMwOS1mZGZkNjcxYWNmNjYifQ..lrQe-44jXGlHEX3J.rrzMtCCNCFwnjUgOpWNv8aUAKlgCokycSK5eoBa4vd63rasMZEkSkMF86kcyNuIlpuqTqpNbZ0M61CnYaJOC078QxUy02ZhIjda0YAmubqffd7OjmesvpD-ynO4VZ_CrKNSZ_X81aXoZCVP471Mr70YwQizIXSqaGSeOqvqBJCK-HU1-nUhw.WvKn220CImcFUZ4pV6lwCQ
                    encryptionKey:
                      id: 1be25520-4bfc-446d-9801-7d73f8b57aa7
                      href: /encryptionKeys/1be25520-4bfc-446d-9801-7d73f8b57aa7
                    dossiers:
                      href: /dossiers?ssin=BAHOWtmyrKt8x1xhiRH_Nqms6TYAYESL4nn9DA873lKJVYPE-ehjMYFvGEamKrSU0mrRhQW6n5Lzo4AMb5BSXt9rGAC5Md6ciHwKVtzTvzNCntITSIW6qVFOUPZZvPeeLrMKOehnE9U8_d4alPCO25fQt20xI3-Nk--SVxxE18UvbT6G2Q:eyJhdWQiOiJ0cmlvX3YxIiwiZW5jIjoiQTI1NkdDTSIsImV4cCI6MTc0MzQxNDU2NiwiaWF0IjoxNzQzNDEzOTY2LCJhbGciOiJkaXIiLCJraWQiOiI0OTc3MjllMi0zNjQ4LTQyNDctYWMwOS1mZGZkNjcxYWNmNjYifQ..lrQe-44jXGlHEX3J.rrzMtCCNCFwnjUgOpWNv8aUAKlgCokycSK5eoBa4vd63rasMZEkSkMF86kcyNuIlpuqTqpNbZ0M61CnYaJOC078QxUy02ZhIjda0YAmubqffd7OjmesvpD-ynO4VZ_CrKNSZ_X81aXoZCVP471Mr70YwQizIXSqaGSeOqvqBJCK-HU1-nUhw.WvKn220CImcFUZ4pV6lwCQ
                    createdBy:
                      id: id:00000000-0000-0000-0000-300000000001
                      href: /actors/id:00000000-0000-0000-0000-300000000001
                    createdAt: '2025-03-24T15:30:40.644059+01:00'
                    updatedBy:
                      id: id:00000000-0000-0000-0000-300000000001
                      href: /actors/id:00000000-0000-0000-0000-300000000001
                    updatedAt: '2025-03-24T15:30:40.644059+01:00'
                    permissions:
                      href: urn:insuredPerson:1be25520-4bfc-446d-9801-7d73f8b57aa7:permissions
                    self: /insuredPersons/BAHOWtmyrKt8x1xhiRH_Nqms6TYAYESL4nn9DA873lKJVYPE-ehjMYFvGEamKrSU0mrRhQW6n5Lzo4AMb5BSXt9rGAC5Md6ciHwKVtzTvzNCntITSIW6qVFOUPZZvPeeLrMKOehnE9U8_d4alPCO25fQt20xI3-Nk--SVxxE18UvbT6G2Q:eyJhdWQiOiJ0cmlvX3YxIiwiZW5jIjoiQTI1NkdDTSIsImV4cCI6MTc0MzQxNDU2NiwiaWF0IjoxNzQzNDEzOTY2LCJhbGciOiJkaXIiLCJraWQiOiI0OTc3MjllMi0zNjQ4LTQyNDctYWMwOS1mZGZkNjcxYWNmNjYifQ..lrQe-44jXGlHEX3J.rrzMtCCNCFwnjUgOpWNv8aUAKlgCokycSK5eoBa4vd63rasMZEkSkMF86kcyNuIlpuqTqpNbZ0M61CnYaJOC078QxUy02ZhIjda0YAmubqffd7OjmesvpD-ynO4VZ_CrKNSZ_X81aXoZCVP471Mr70YwQizIXSqaGSeOqvqBJCK-HU1-nUhw.WvKn220CImcFUZ4pV6lwCQ
                    objectType: InsuredPerson
                  /actors/id:00000000-0000-0000-0000-300000000001:
                    objectType: HioAdvisingDoctor
                    id: id:00000000-0000-0000-0000-300000000001
                    hidden: true
                    givenName: Advising
                    familyName: Doctor 1
                    organization:
                      id: id:5663420a-05b5-4c92-a613-f7aa3142ff14
                      href: /actors/id:5663420a-05b5-4c92-a613-f7aa3142ff14
                    self: /actors/id:00000000-0000-0000-0000-300000000001
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /employers:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
    get:
      tags:
        - Employers
      operationId: listEmployers
      summary: List all employers
      parameters:
        - $ref: '#/components/parameters/InsuredPersonSsinQuery'
        - name: name
          description: Employer name pattern to search
          in: query
          required: false
          schema:
            type: string
          examples:
            sma:
              description: Return all employers where  name contains sma*
              value:
                - name
        - name: embed
          description: Resources to embed in the response.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:items)$
            uniqueItems: true
          examples:
            items:
              description: Embed the employers.
              value:
                - items
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployersCollectionWithEmbedded'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /encryptionKeys/{id}:
    parameters:
      - name: id
        description: Identifier of this encryption key. Based on eHealth commons-v1.yaml#/definitions/Uuid.
        in: path
        required: true
        example: 91504de4-7f27-491e-96dc-5c8fefc4814f
        schema:
          $ref: '#/components/schemas/Identifier'
    get:
      tags:
        - Encryption keys
      operationId: getEncryptionKey
      summary: Get an encryption key.
      description: Get an AES encryption key to use to encrypt/decrypt sensitive/medical information. The returned encryption
        key is pseudonymised.
      responses:
        '200':
          description: Pseudonymised AES key to use to encrypt/decrypt sensitive/medical information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncryptionKeyForGet'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /insuredPersons:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
    post:
      tags:
        - Insured persons
      operationId: createInsuredPerson
      summary: Create a new insured person
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuredPersonForCreation'
      responses:
        '201':
          description: The created insured person.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuredPersonForGet'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
            Location:
              $ref: '#/components/headers/Location'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /insuredPersons/{ssin}:{transitInfo}:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
      - $ref: '#/components/parameters/PseudonymisedSsin'
      - $ref: '#/components/parameters/TransitInfo'
    get:
      tags:
        - Insured persons
      operationId: consultInsuredPerson
      summary: Consult an insured person by pseudonymised SSIN
      parameters:
        - name: embed
          description: Resources to embed in the response.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:createdBy|encryptionKey|updatedBy)$
            uniqueItems: true
          examples:
            createdBy:
              description: Embed the actor that created the insured person.
              value:
                - createdBy
            encryptionKey:
              description: Embed the encryption key to use for the sub-resources of the insured person.
              value:
                - encryptionKey
            updatedBy:
              description: Embed the actor that did the last update of the insured person.
              value:
                - updatedBy
            createdBy,updatedBy:
              description: Embed the actors that created and updated the insured person.
              value:
                - createdBy
                - updatedBy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuredPersonForGetWithEmbedded'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /me:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
    get:
      tags:
        - Actors
      operationId: getMe
      summary: Get current requester
      description: Consult current requester detail
      parameters:
        - name: embed
          description: Resources to embed in the response.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:actor|actor\(organization\)|conversations)$
            uniqueItems: true
          examples:
            actor:
              description: Embed the current actor.
              value:
                - actor
            actor(organization):
              description: Embed the current actor organization.
              value:
                - actor(organization)
            conversations:
              description: embed current actor unread conversations collection.
              value:
                - conversations
      responses:
        '200':
          description: Actor's dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardWithEmbedded'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /trajects:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
    get:
      tags:
        - Trajects
      operationId: searchTrajects
      summary: Search for trajects.
      parameters:
        - $ref: '#/components/parameters/DossierIdQuery'
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:items|items\((?:attachments|dossier|encryptionKey|employer|conversations)\))$
            uniqueItems: true
          examples:
            items:
              description: Embed the trajects.
              value:
                - items
            items(attachments):
              description: Embed the attachments of the trajects.
              value:
                - items(attachments)
            items(dossier):
              description: Embed the dossiers linked to the trajects.
              value:
                - items(dossier)
            items(encryptionKey):
              description: Embed the encryptionKey.
              value:
                - items(encryptionKey)
            items(employer):
              description: Embed the employers linked to the trajects.
              value:
                - items(employer)
            items(conversations):
              description: Embed the conversations of the trajects.
              value:
                - items(conversations)
            items,items(dossier):
              description: Embed the trajects and their dossiers.
              value:
                - items
                - items(dossier)
      responses:
        '200':
          description: Enumeration of the trajects matching the criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrajectsCollectionWithEmbedded'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      tags:
        - Trajects
      operationId: createTraject
      summary: Create a new traject.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyTrajectForCreation'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyTrajectForGet'
          headers:
            Location:
              $ref: '#/components/headers/Location'
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
  /trajects/{trajectId}:
    parameters:
      - $ref: '#/components/parameters/BelGovTraceId'
      - $ref: '#/components/parameters/TrajectId'
    get:
      tags:
        - Trajects
      operationId: consultTraject
      summary: Consult a traject
      parameters:
        - name: embed
          description: Resources to embed.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              pattern: ^(?:attachments|dossier|encryptionKey|employer|conversations|permissions)$
            uniqueItems: true
          examples:
            attachments:
              description: Embed the summaries of attachments linked to the traject.
              value:
                - attachments
            dossier:
              description: Embed the dossier linked to the traject.
              value:
                - dossier
            encryptionKey:
              description: Embed the encryptionKey.
              value:
                - encryptionKey
            employer:
              description: Embed the employer linked to the traject.
              value:
                - employer
            conversations:
              description: Embed the summaries of conversations linked to the traject.
              value:
                - conversations
            dossier,employer:
              description: Embed the dossier and the employer linked to the traject.
              value:
                - dossier
                - employer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyTrajectWithEmbedded'
        default:
          $ref: '#/components/responses/ProblemResponse'
    patch:
      tags:
        - Trajects
      operationId: updateTraject
      summary: Update a traject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyTrajectForUpdate'
      responses:
        '200':
          description: Traject updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyTrajectForGet'
          headers:
            BelGov-Related-Trace-Id:
              $ref: '#/components/headers/BelGovRelatedTraceId'
        default:
          $ref: '#/components/responses/ProblemResponse'
components:
  headers:
    BelGovRelatedTraceId:
      description: |-
        BelGov-Trace-Id value used on related request.
        Read https://www.belgif.be/specification/rest/api-guide/#tracing for more information.
      example: e586d946-8a9f-49d9-a73f-225bd153ef3d
      schema:
        type: string
        format: uuid
      allowEmptyValue: false
      required: true
    Location:
      description: The URI of the newly created resource.
      required: true
      schema:
        type: string
        format: uri
  parameters:
    ActorId:
      name: actorId
      description: Identifier of the actor.
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ActorId'
      examples:
        userByNihii:
          value: nihii:12345678
          summary: Using nihii as user's identifier
        organizationByCbe:
          value: cbeNumber:0123456789
          summary: Using CBE number as organization identifier
    AttachmentId:
      name: attachmentId
      description: Identifier of the attachment.
      in: path
      explode: false
      style: simple
      required: true
      schema:
        $ref: '#/components/schemas/AttachmentId'
    BelGovTraceId:
      name: BelGov-Trace-Id
      in: header
      description: |-
        Unique ID for tracing purposes, identifying the request.
        Should be unique.
        Usage of UUID is recommended.
        Read https://www.belgif.be/specification/rest/api-guide/#tracing for more information.
      example: e586d946-8a9f-49d9-a73f-225bd153ef3d
      schema:
        type: string
        format: uuid
      allowEmptyValue: false
      required: true
    ConversationId:
      name: conversationId
      description: Identifier of the conversation.
      in: path
      explode: false
      style: simple
      required: true
      schema:
        $ref: '#/components/schemas/ConversationId'
    DossierId:
      name: dossierId
      description: Identifier of the dossier.
      in: path
      explode: false
      style: simple
      required: true
      schema:
        $ref: '#/components/schemas/DossierId'
    DossierIdQuery:
      name: dossierId
      description: Dossier id to filter on.
      example: 84031082-8d3c-485a-9bc9-ab895046c768
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/DossierId'
    InsuredPersonSsinQuery:
      name: insuredPerson.ssin
      description: SEC.1 Base64URL (without padding) representation of the point on the elliptic curve representing the pseudonymised
        insured person SSIN, followed by `:` and by a JWE containing the encrypted transitInfo.
      in: query
      schema:
        type: string
        pattern: ^([A-Za-z0-9-_]+):(e[yw][A-Za-z0-9-_]+\.(?:e[yw][A-Za-z0-9-_]+)?\.[A-Za-z0-9-_]{2,}(?:(?:\.[A-Za-z0-9-_]{2,}){2})?)$
        example: AwEe1kYvO5PUcD9lDWd-QyYDfvcssTySrffAfB0HzThutjGDPeT0KZIWzoT9DynxnYVgkHE9SYPIokPBKcmMMxxnzQ:eyJhdWQiOiJodHRwczovL2FwaS1pbnQuZWhlYWx0aC5mZ292LmJlL3BzZXVkby92MS9kb21haW5zL3VobWVwX3YxIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6ImRpciIsImtpZCI6IjIwMjItMTIifQ..ktWBx5aXtqSGVsuS.6gf06_bHg1aDByWLjkZnVPT_a7qITivWmY8nhq7bgxydxRSQfWMfTxojE4wfTKurbGlVZv6JmRFRh_GWRBfoicsBTEF5tL9bdWflZ5AJBSGGGba8H6ojEcAOXGF_8gOnB5SvS_d-_5NN3VUMYWAOprY9CfapjPouWrMhXjIlzR8sMYkBcEYY5Pvi4ZhhhG__amyM7knUawRzzB-wmM8bDgUfmFOPFpZmY3h5Kbm65rQgb1miGgh_tNtnyG0A0HvBP4yvQHmgsJxgykDA.4i8ZGi7W4-9dHxxaNl_Peg
    Page:
      name: page
      in: query
      required: false
      schema:
        allOf:
          - $ref: '#/components/schemas/Page'
        default: 1
    PageSize:
      name: pageSize
      in: query
      explode: false
      style: form
      required: false
      schema:
        allOf:
          - $ref: '#/components/schemas/PageSize'
        default: 100
    PseudonymisedSsin:
      name: ssin
      description: SEC.1 Base64URL (without padding) representation of the point of the elliptic curve representing the pseudonymised
        SSIN in transit.
      in: path
      explode: false
      style: simple
      required: true
      schema:
        type: string
        format: base64url
        minLength: 90
        maxLength: 180
        pattern: ^(?=(?:.{88}){1,2}.{2,4}$)[A-Za-z0-9-_]+$
        example: AwEe1kYvO5PUcD9lDWd-QyYDfvcssTySrffAfB0HzThutjGDPeT0KZIWzoT9DynxnYVgkHE9SYPIokPBKcmMMxxnzQ
    TrajectId:
      name: trajectId
      description: Identifier of the traject.
      in: path
      explode: false
      style: simple
      required: true
      schema:
        $ref: '#/components/schemas/TrajectId'
    TrajectIdQuery:
      name: trajectId
      description: Traject id to filter on.
      example: 4a6dff1e-9459-4cff-9b31-69d3067b487f
      in: query
      explode: false
      style: form
      required: false
      schema:
        $ref: '#/components/schemas/TrajectId'
    TransitInfo:
      name: transitInfo
      description: Base64URL representation (without padding) of the `transitInfo` of the pseudonymised dossier id in transit
        (as returned by the eHealth Pseudonymisation service).
      in: path
      explode: false
      style: simple
      required: true
      schema:
        type: string
        format: base64url
        pattern: ^[A-Za-z0-9-_]+\.[A-Za-z0-9-_]*(?:\.[A-Za-z0-9-_]+){3}$
        example: eyJhdWQiOiJodHRwczovL2FwaS1pbnQuZWhlYWx0aC5mZ292LmJlL3BzZXVkby92MS9kb21haW5zL3VobWVwX3YxIiwiZW5jIjoiQTI1NkdDTSIsImFsZyI6ImRpciIsImtpZCI6IjIwMjItMTIifQ..ktWBx5aXtqSGVsuS.6gf06_bHg1aDByWLjkZnVPT_a7qITivWmY8nhq7bgxydxRSQfWMfTxojE4wfTKurbGlVZv6JmRFRh_GWRBfoicsBTEF5tL9bdWflZ5AJBSGGGba8H6ojEcAOXGF_8gOnB5SvS_d-_5NN3VUMYWAOprY9CfapjPouWrMhXjIlzR8sMYkBcEYY5Pvi4ZhhhG__amyM7knUawRzzB-wmM8bDgUfmFOPFpZmY3h5Kbm65rQgb1miGgh_tNtnyG0A0HvBP4yvQHmgsJxgykDA.4i8ZGi7W4-9dHxxaNl_Peg
    sort:
      name: sort
      description: Sorting properties. Use '-' as prefix to reverse the sorting
      in: query
      required: false
      schema: *id001
  responses:
    ProblemResponse:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: a problem
  schemas:
    Actor:
      oneOf:
        - $ref: '#/components/schemas/OrganizationForGet'
        - $ref: '#/components/schemas/UserForGet'
    ActorId:
      description: Identifier of the actor. An actor can be identified either byt it's nihii number, cbe number or technical
        identifier
      type: string
      pattern: ^(nihii|cbeNumber|id):(.*)$
      example: nihii:12345678
    ActorIdRef:
      type: object
      properties:
        id:
          description: |
            Identifier of the user.
            An actor can be identified either by:
            * __NIHII__ of a generalPractitioner : nihii:12345678
            * __CBE__ of an organization : cbeNumber:0123456789
            * __GMD Holder__ of an insuredPerson : gmdHolder
          type: string
          pattern: ^((nihii|cbeNumber):(.*)|gmdHolder)$
          example: nihii:12345678
    ActorIdRefsCollection:
      type: object
      properties:
        items:
          type: array
          description: List of all actors reference.
          items:
            $ref: '#/components/schemas/ActorIdRef'
    ActorRef:
      anyOf:
        - $ref: '#/components/schemas/OrganizationRef'
        - $ref: '#/components/schemas/UserRef'
    ActorType:
      type: string
      enum:
        - EsAdministrativeTeamMember
        - EsWorkDoctor
        - EsWorkNurse
        - ExternalServiceOrganization
        - GeneralPractitioner
        - HealthInsuranceOrganization
        - HioAdministrativeTeamMember
        - HioAdvisingDoctor
        - HioMultidisciplinaryTeamMember
        - HioReturnToWorkCoordinator
    ActorsCollectionForGet:
      x-delete: true
      type: object
      properties:
        self:
          description: URI of this collection. Based on eHealth commons-v1.yaml#/definitions/SelfLink.
          type: string
          format: uri
          example: https://api.ehealth.fgov.be/trio/v1/actors
        total:
          description: Number of items in the collection.
          type: integer
          minimum: 0
          example: 1
        items:
          type: array
          description: List of all actors.
          items:
            $ref: '#/components/schemas/ActorRef'
      required:
        - items
        - self
        - total
    ActorsCollectionRef:
      x-delete: true
      type: object
      properties:
        href:
          description: URI of the collection. Based on eHealth commons-v1.yaml#/definitions/HttpLink.
          type: string
          format: uri
          example: https://api.ehealth.fgov.be/trio/v1/actors
      required:
        - href
    ActorsCollectionWithEmbedded:
      x-delete: true
      type: object
      properties:
        self:
          description: URI of this collection. Based on eHealth commons-v1.yaml#/definitions/SelfLink.
          type: string
          format: uri
          example: https://api.ehealth.fgov.be/trio/v1/actors
        total:
          description: Number of items in the collection.
          type: integer
          minimum: 0
          example: 1
        items:
          type: array
          description: List of all actors.
          items:
            $ref: '#/components/schemas/ActorRef'
        embedded:
          $ref: '#/components/schemas/EmbeddableForGet'
      required:
        - items
        - self
        - total
    AllowedSharingActorType:
      type: string
      enum:
        - ExternalServiceOrganization
        - GeneralPractitioner
        - HealthInsuranceOrganization
    AnyActor:
      oneOf:
        - $ref: '#/components/schemas/OrganizationForGet'
        - $ref: '#/components/schemas/UserForGet'
      discriminator:
        propertyName: objectType
        mapping:
          EsAdministrativeTeamMember: '#/components/schemas/UserForGet'
          EsWorkNurse: '#/components/schemas/UserForGet'
          EsWorkDoctor: '#/components/schemas/UserForGet'
          GeneralPractitioner: '#/components/schemas/UserForGet'
          HioAdministrativeTeamMember: '#/components/schemas/UserForGet'
          HioAdvisingDoctor: '#/components/schemas/UserForGet'
          HioMultidisciplinaryTeamMember: '#/components/schemas/UserForGet'
          HioReturnToWorkCoordinator: '#/components/schemas/UserForGet'
          HealthInsuranceOrganization: '#/components/schemas/OrganizationForGet'
          ExternalServiceOrganization: '#/components/schemas/OrganizationForGet'
          CIN: '#/components/schemas/OrganizationForGet'
    AnyAttachmentForCreation:
      oneOf:
        - $ref: '#/components/schemas/AnyDossierAttachmentForCreation'
        - $ref: '#/components/schemas/AnyTrajectAttachmentForCreation'
      x-delete: true
    AnyAttachmentForGet:
      oneOf:
        - $ref: '#/components/schemas/AnyDossierAttachmentForGet'
        - $ref: '#/components/schemas/AnyTrajectAttachmentForGet'
      x-delete: true
    AnyAttachmentForUpdate:
      oneOf:
        - $ref: '#/components/schemas/AnyDossierAttachmentForUpdate'
        - $ref: '#/components/schemas/AnyTrajectAttachmentForUpdate'
      x-delete: true
    AnyAttachmentWithEmbedded:
      oneOf:
        - $ref: '#/components/schemas/AnyDossierAttachmentWithEmbedded'
        - $ref: '#/components/schemas/AnyTrajectAttachmentWithEmbedded'
      x-delete: true
    AnyConversationForCreation:
      oneOf:
        - $ref: '#/components/schemas/DossierConversationForCreation'
        - $ref: '#/components/schemas/TrajectConversationForCreation'
      discriminator:
        propertyName: objectType
        mapping:
          DossierConversation: '#/components/schemas/DossierConversationForCreation'
          TrajectConversation: '#/components/schemas/TrajectConversationForCreation'
      x-delete: true
    AnyConversationForGet:
      oneOf:
        - $ref: '#/components/schemas/DossierConversationForGet'
        - $ref: '#/components/schemas/TrajectConversationForGet'
      discriminator:
        propertyName: objectType
        mapping:
          DossierConversation: '#/components/schemas/DossierConversationForGet'
          TrajectConversation: '#/components/schemas/TrajectConversationForGet'
      x-delete: true
    AnyConversationForUpdate:
      oneOf:
        - $ref: '#/components/schemas/DossierConversationForUpdate'
        - $ref: '#/components/schemas/TrajectConversationForUpdate'
      discriminator:
        propertyName: objectType
        mapping:
          DossierConversation: '#/components/schemas/DossierConversationForUpdate'
          TrajectConversation: '#/components/schemas/TrajectConversationForUpdate'
      x-delete: true
    AnyConversationWithEmbedded:
      oneOf:
        - $ref: '#/components/schemas/DossierConversationWithEmbedded'
        - $ref: '#/components/schemas/TrajectConversationWithEmbedded'
      discriminator:
        propertyName: objectType
        mapping:
          DossierConversation: '#/components/schemas/DossierConversationWithEmbedded'
          TrajectConversation: '#/components/schemas/TrajectConversationWithEmbedded'
      x-delete: true
    AnyDossierAttachmentForCreation:
      oneOf:
        - $ref: '#/components/schemas/TrioApplicationCodexDossierAttachmentForCreation'
        - $ref: '#/components/schemas/TrioMedicalReportDossierAttachmentForCreation'
      discriminator:
        propertyName: objectType
        mapping:
          TrioApplicationCodexDossierAttachment: '#/components/schemas/TrioApplicationCodexDossierAttachmentForCreation'
          TrioMedicalReportDossierAttachment: '#/components/schemas/TrioMedicalReportDossierAttachmentForCreation'
      x-delete: true
    AnyDossierAttachmentForGet:
      oneOf:
        - $ref: '#/components/schemas/TrioApplicationCodexDossierAttachmentForGet'
        - $ref: '#/components/schemas/TrioMedicalReportDossierAttachmentForGet'
      discriminator:
        propertyName: objectType
        mapping:
          TrioApplicationCodexDossierAttachment: '#/components/schemas/TrioApplicationCodexDossierAttachmentForGet'
          TrioMedicalReportDossierAttachment: '#/components/schemas/TrioMedicalReportDossierAttachmentForGet'
      x-delete: true
    AnyDossierAttachmentForUpdate:
      oneOf:
        - $ref: '#/components/schemas/TrioApplicationCodexDossierAttachmentForUpdate'
        - $ref: '#/components/schemas/TrioMedicalReportDossierAttachmentForUpdate'
      discriminator:
        propertyName: objectType
        mapping:
          TrioApplicationCodexDossierAttachment: '#/components/schemas/TrioApplicationCodexDossierAttachmentForUpdate'
          TrioMedicalReportDossierAttachment: '#/components/schemas/TrioMedicalReportDossierAttachmentForUpdate'
      x-delete: true
    AnyDossierAttachmentWithEmbedded:
      oneOf:
        - $ref: '#/components/schemas/TrioApplicationCodexDossierAttachmentWithEmbedded'
        - $ref: '#/components/schemas/TrioMedicalReportDossierAttachmentWithEmbedded'
      discriminator:
        propertyName: objectType
        mapping:
          TrioApplicationCodexDossierAttachment: '#/components/schemas/TrioApplicationCodexDossierAttachmentWithEmbedded'
          TrioMedicalReportDossierAttachment: '#/components/schemas/TrioMedicalReportDossierAttachmentWithEmbedded'
      x-delete: true
    AnyDossierForCreation:
      oneOf:
        - $ref: '#/components/schemas/TrioDossierForCreation'
      discriminator:
        propertyName: objectType
        mapping:
          TrioDossier: '#/components/schemas/TrioDossierForCreation'
      x-delete: true
    AnyDossierForGet:
      oneOf:
        - $ref: '#/components/schemas/TrioDossierForGet'
      discriminator:
        propertyName: objectType
        mapping:
          TrioDossier: '#/components/schemas/TrioDossierForGet'
      x-delete: true
    AnyDossierSummary:
      oneOf:
        - $ref: '#/components/schemas/TrioDossierSummary'
      discriminator:
        propertyName: objectType
        mapping:
          TrioDossier: '#/components/schemas/TrioDossierSummary'
      x-delete: true
    AnyDossierWithEmbedded:
      oneOf:
        - $ref: '#/components/schemas/TrioDossierWithEmbedded'
      discriminator:
        propertyName: objectType
        mapping:
          TrioDossier: '#/components/schemas/TrioDossierWithEmbedded'
      x-delete: true
    AnyTrajectAttachmentForCreation:
      oneOf:
        - $ref: '#/components/schemas/TrioAccReintegrationPlanCodexTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioActionsConclusionsTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioApplicationCodexDossierAttachmentForCreation'
        - $ref: '#/components/schemas/TrioDecisionAppealDecisionBTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioDecisionCodexTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioEngagementStatementTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioFollowupInterviewTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioHealthAssessmentFormDefinitelyTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioHealthAssessmentFormNotDefinitelyTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioHealthAssessmentFormTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioMedicalReportTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioMotivatedReportTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioPreReintegrationPlanCodexTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioRefReintegrationPlanCodexTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioReintegrationPlanHdiTrajectAttachmentForCreation'
        - $ref: '#/components/schemas/TrioTermsConditionsFormTrajectAttachmentForCreation'
      discriminator:
        propertyName: objectType
        mapping:
          TrioAccReintegrationPlanCodexTrajectAttachment: '#/components/schemas/TrioAccReintegrationPlanCodexTrajectAttachmentForCreation'
          TrioActionsConclusionsTrajectAttachment: '#/components/schemas/TrioActionsConclusionsTrajectAttachmentForCreation'
          TrioApplicationCodexDossierAttachment: '#/components/schemas/TrioApplicationCodexDossierAttachmentForCreation'
          TrioDecisionAppealDecisionBTrajectAttachment: '#/components/schemas/TrioDecisionAppealDecisionBTrajectAttachmentForCreation'
          TrioDecisionCodexTrajectAttachment: '#/components/schemas/TrioDecisionCodexTrajectAttachmentForCreation'
          TrioEngagementStatementTrajectAttachment: '#/components/schemas/TrioEngagementStatementTrajectAttachmentForCreation'
[...]
